<div id="footer">
	<div class="container">
		<div class="row">
			<div class="col-lg-5">
				<h4>Copyright &copy; {{ site.time | date: "%Y" }} - {{ site.author }}</h4>
				<p>Powered by <a href="http://octopress.org">Octopress</a> with <a href="http://www.blacktie.co/2014/01/stanley-freelancer-theme/">Stanley</a></p>
			</div>
			
			<div class="col-lg-3">
				<h4>My Links</h4>
				<p>
					<a href="https://github.com/cspags">Github</a><br/>
					<a href="http://www.linkedin.com/pub/chris-spagnuolo/3a/23b/6a4">LinkedIn</a><br/>
					<a href="https://twitter.com/ChiDevGuy">Twitter</a>
				</p>
			</div>
		
		</div>
	</div>
</div>